/*big tablet to 1200px (width smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/*small tablet to big tablet (768px to 1023px) */
@media only screen and (max-width: 1024px) {
  .hero3-container {
    flex-direction: column;
    gap: 40px;
    justify-content: center;
  }
  .hero3-content {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 990px) {
  .navbar-toggler {
    display: none;
  }
  .mobile-menu {
    display: flex;
  }
  .navbar {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .hero8-faq-cont {
    display: block;
    padding-top: 50px;
  }
  .hero8-faq,
  .hero8-image {
    width: 100%;
  }
  .hero4-container {
    display: block;
  }
  .hero4-content,
  .hero4-image {
    width: 100%;
  }
  .hero4-text-content {
    width: 100%;
    padding-bottom: 32px;
  }
  .hero1-container {
    display: block;
  }
  .hero1-section {
    padding-bottom: 30px;
  }
  .hero1-content,
  .hero1-image {
    width: 100%;
  }
  .hero1-text-content {
    text-align: center;
    padding-top: 10%;
  }
  .h1-img {
    max-width: 100% !important;
  }
  .hero1-title {
    text-align: center;
  }

  /* MERCHANT */
  .merchant2-container {
    flex-direction: column;
    /* display: block; */
  }
  .flip{
    display: flex;
    flex-direction: column-reverse;
  }
  .merch52{
    padding-left: 4rem;
    box-sizing: border-box;
  }
  .merchant5-details {
    padding: 0;
}
  .merchant2-image,
  .merchant2-content,
  .merchant3-details  {
    width: 100%;
  }
  .merchant2-details,
  .merchant3-details {
    padding: 0;
  }
  .merch5 {
    display: none;
  }
  .merchant8-container {
    display: block;
  }
}

/*small phone to small tablet (481px to 767px) */
@media only screen and (max-width: 768px) {
  .hero9-container {
    padding: 32px 0;
  }
  .hero-footer-container {
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
  }

  .hero-footer-logo {
    align-items: center;
    text-align: center;
  }
  .hero-footer-social-icons img {
    width: 50px;
    height: auto;
  }
  .hero-footer-section {
    width: 100%;
    margin-bottom: 20px;
  }
  .hero-footer-social-icons {
    gap: 44px;
  }
  .hero-footer-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 880px){
  .purple{
    display: block;
    background-size: auto;
  }
  .purple-img{
    display: none;
  }
  .purple-text {
    width: 80%;
    margin: auto;
    padding: 30px 0;
    height:250px;
    text-align: center;
}
}
@media only screen and (max-width: 680px) {
  .hero6-grid-cont {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 50px;
    padding-top: 3rem;
  }
  .hero8-container {
    width: 90%;
    margin: auto;
  }
  .hero2-partners {
    gap: 20px;
  }
  .hero8-faq-item {
    padding-bottom: 1.5rem;
  }
  .hero6-grid {
    gap: 50px;
  }
  .hero6-item {
    text-align: center;
  }
  .hero5-content {
    display: block;
  }
  .hero1-description {
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .merchant8-checkout {
    display: block;
  }
}

/*small phones (0px to 480px) */
@media only screen and (max-width: 480px) {
  .hero8-faq-item {
    flex-direction: column;
  }
  .hero8-text-content {
    width: 90%;
  }
  .hero4-container {
    padding: 30px;
  }
  .hero9-section {
    padding-bottom: 46px;
  }
  .mb-waitlist {
    width: 160px;
  }
  .navbar-brand img {
    width: 106.26px;
    height: 26px;
  }
  .custom-button {
    width: 200px;
  }
  .arrow-circle {
    left: 144px;
  }
  .cta-section {
    gap: 10px;
  }
  .cta-section p {
    font-size: 15px;
    text-align: center;
  }
}
@media (min-width: 0px) and (max-width: 360px){
  .waitlist {
    width: 220px;
    height: 44px;
    padding: 0;
    border-radius: 26.4px;    
    border: none;
    background: #f07243;
    color: white;
}
}
@media only screen and (max-width: 320px) {
  .hero4-container {
    padding: 10px;
  }
  .hero-footer-social-icons {
    gap: 14px;
  }
  .navbar-brand img {
    width: 86.26px;
    height: auto;
  }
  .mb-waitlist {
    width: 80px;
    height: auto;
    font-size: 10px;
  }
  .purple-waitlist {
    width: 80%;
    font-size: 15px;
  }
  .purple {
    height: auto;
  }
  .purple-text h3 {
    font-size: 15px;
  }
  .container-fluid {
    width: 100%;
  }
  .cta-section p {
    font-size: 10px;
    text-align: center;
  }
}
