* {
  margin: 0;
  padding: 0;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}
/* NAVIGATION */
.navbar {
  max-width: 1440px;
  margin: auto;
  width: 100%;
  height: 80px;
  background-color: white !important;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 1rem;
}
.container-fluid {
  flex-wrap: nowrap !important;
  width: 90%;
  margin: auto;
}
.navbar-brand img {
  max-height: 40px;
}
.navbar-nav {
  margin-left: auto;
}
.navbar-nav a {
  color: #314351;
  font-family: "Roboto", sans-serif;
  font-size: 500;
  margin-right: 15px;
}
.navbar-nav a:hover {
  color: #f07243;
}
.navbar-collapse a:hover {
  color: #f07243;
}
.waitlist {
  padding: 19px 88.5px 18px 88.5px;
  border-radius: 38px;
  border: none;
  background: #f07243;
  color: white;
}
.navbar-expand-lg .navbar-collapse {
  background-color: #ffffff;
  z-index: 1000;
  justify-content: center;
  text-align: center;
  /* padding: 2rem 0; */
}
.offcanvas-body {
  padding: 20px;
}
.offcanvas-body div {
  display: flex;
  flex-direction: column;
}

.offcanvas-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.offcanvas-body li {
  text-align: center;
  margin: 28px 0;
  padding: 0;
}
.offcanvas-body a {
  text-decoration: none;
  color: #314351;
}
.offcanvas-body a:hover {
  color: #f07243;
}
.mobile-menu {
  display: none;
}
.mb-waitlist {
  width: 180px;
  height: 44px;
  border-radius: 38px;
  padding: 0 3px;
  border: none;
  background: #f07243;
  color: white;
}
.btn-primary {
  --bs-btn-bg: white !important;
  --bs-btn-border-color: none !important;
}
.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover {
  background-color: transparent;
  border-color: inherit;
}
.btn-primary:active {
  background-color: transparent !important;
}

/* HERO ONE */
.hero1-section {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 50px;
}
.hero1-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.hero1-content,
.hero1-image {
  width: 50%;
}
.hero1-text-content {
  width: 80%;
  height: 100%;
  margin: auto;
  align-items: center;
  padding-top: 20%;
}
.h1-img {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.hero1-title {
  /* color: #1d2b36; */
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  padding-bottom: 1rem;
}
.hero1-description {
  color: #314351;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 1rem;
}

/* HERO TWO */
.hero2-section {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 50px;
}
.hero2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero2-container h3 {
  font-family: "Outfit", sans-serif;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.hero2-partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-top: 31px;
}
.hero2-partners img {
  max-width: 179px;
  height: auto;
}

/* HERO THREE */
.hero3-section {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 50px;
}
.hero3-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.solution-section {
  width: 480px;
  padding-bottom: 3rem;
  /* height: 580px; */
  border-radius: 16px;
  padding: 40px 32px 40px 32px;
  border: 1.5px solid #e5e5e5;
}
.solution-title {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 40.32px;
}
.affil {
  color: #00944a;
  font-weight: 600;
}
.merch {
  font-weight: 600;
  color: #442a93;
}
.solution-description {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  /* text-align: left; */
  padding-top: 20px;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.feature-list {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.feature-item h3 {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  /* text-align: left; */
}
.check {
  width: 26px;
  height: 26px;
}
.learn-more-btn {
  width: 100%;
  margin: auto;
  height: 56px;
  border: none;
  border-radius: 38px;
  box-shadow: 3.990000009536743px 6.170000076293945px 13.460000038146973px 0px
    #2e34791f;
  background-color: #00944a;
  color: white;
}
.learn-btn {
  width: 100%;
  margin: auto;
  height: 56px;
  border: none;
  border-radius: 38px;
  box-shadow: 3.990000009536743px 6.170000076293945px 13.460000038146973px 0px
    #2e34791f;
  background-color: #442a93;
  color: white;
}

/* HERO FOUR */
.hero4-section {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 50px;
}
.hero4-container {
  display: flex;
  padding: 50px;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.hero4-content,
.hero4-image {
  width: 50%;
}
.hero4-text-content {
  width: 80%;
  height: 100%;
  margin: auto;
  align-items: center;
}
.h4-img {
  width: 100%;
  max-width: 584px;
  margin: 0 auto;
}
.hero4-text-content h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  padding-bottom: 1rem;
  /* text-align: left; */
}
.hero4-text-content p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  /* text-align: left; */
}
.custom-button {
  width: 262px;
  height: 60px;
  border-radius: 38px;
  padding-right: 45px;
  position: relative;
  background-color: #f07243;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.arrow-circle {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 5px;
  left: 204px;
  border-radius: 30px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f07243;
}

/* HERO FIVE */
.hero5-section {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 50px;
}
.hero5-container {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}
.hero5-content {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: inline-flex;
}
.hero5-image img {
  width: 240px;
  height: 240px;
}
.hero5-text h4 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  padding: 0.5rem 0;
}
.hero5-text {
  padding-left: 20px;
}
.price-info {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
}
.price-row {
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  display: inline-flex;
}
.price-label {
  color: #314351;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 23px;
  word-wrap: break-word;
}
.price-value {
  color: #00944a;
  font-size: 15px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 23px;
  word-wrap: break-word;
}
.mySwiper {
  width: 90%;
  margin: auto;
  height: auto;
  padding-bottom: 4rem;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 44px;
  height: 6px;
  border-radius: 120px;
  background-color: #f07243;
}

/* HERO SIX */
.hero6-section {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 70px;
}
.hero6-container {
  background-image: url("images/herobg2.png");
  width: 100%;
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero6-item {
  width: 100%;
}
.hero6-item img {
  width: 50px;
  height: 50px;
}
.hero6-item h4 {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
}
.hero6-item p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
}
.hero6-click {
  text-align: center;
  padding-top: 5rem;
}
.hero6-click h5 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 31px;
  letter-spacing: 0em;
  margin-top: 1rem;
  padding: 0 1.5rem;
}
.hero6-grid-cont {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 5rem;
}
.hero6-grid {
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.v-img {
  width: 100%;
  max-width: 271px;
  margin: 0 auto;
}

/* HERO SEVEN */
.hero7-section {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 3rem;
}
.hero7-section h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 52px;
}
.hero7-content {
  position: relative;
  width: 380px;
  height: auto;
  border-radius: 12px;
}
.card--badge {
  position: absolute;
  top: 26px;
  right: 16px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
.hero7-image {
  width: 100%;
  height: auto;
  border-radius: 19px;
}
.hero7-title {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  padding-bottom: 16px;
}
.hero7-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: -0.14000000059604645px;
}
.hero7-meta,
.hero7-author,
.hero7-likes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.hero7-author img {
  width: 36px;
  height: 36px;
}
.hero7-likes img {
  width: 17px;
  height: 15px;
}
.hero7-meta p {
  margin-bottom: 0 !important;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
}
.hero7-text {
  padding: 20px;
}
.mySwiper2 {
  width: 100%;
  margin: auto;
  height: auto;
  padding-bottom: 4rem;
}

/* HERO EIGHT */
.hero8-section {
  max-width: 1440px;
  margin: auto;
}
.hero8-container {
  width: 80%;
  margin: auto;
}
.hero8-faq-cont {
  display: flex;
  padding-top: 75px;
  justify-content: center;
  width: 100%;
  margin: auto;
}
.hero8-faq,
.hero8-image {
  width: 50%;
}
.h8-img {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.hero8-faq-icon {
  width: 48px;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #eaecf0;
  align-items: center;
}
.hero8-text {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #f07243;
  padding-top: 60px;
}
.hero8-faq-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
}
.hero8-faq-description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}
.hero8-text-content {
  width: 80%;
  height: 100%;
  margin: auto;
  align-items: center;
}
.hero8-faq-item {
  display: flex;
  gap: 16px;
  align-items: start;
}
.hero8-faq-details h5 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  /* text-align: left; */
}
.hero8-faq-details p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  /* text-align: left; */
}

/* HERO NINE */
.hero9-section {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 96px;
}
.hero9-container {
  text-align: center;
  background-color: #f9fafb;
  width: 90%;
  margin: auto;
  padding: 32px 32px 40px 32px;
  border-radius: 32px;
  gap: 32px;
}
.hero9-container h5 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  padding-top: 32px;
}
.hero9-container h6 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  padding-top: 8px;
  padding-bottom: 32px;
}

/* FOOTER */
footer {
  width: 100%;
  background: #f7f9ff;
  color: #314351;
}
.hero-footer-container {
  max-width: 1440px;
  margin: auto;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
}
.hero-footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-footer-social-icons {
  display: flex;
  gap: 10px;
}
.hero-footer-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.hero-footer-info {
  display: flex;
  gap: 20px;
}
.hero-footer-text {
  flex: 1;
  text-decoration: none;
}
.hero-footer-text ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  /* text-align: left; */
}
.hero-footer-logo p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  /* text-align: left; */
  margin-top: 16px;
  margin-bottom: 32px;
}
.hero-footer-text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  /* text-align: left; */
  padding-bottom: 21px;
  color: #1f2937;
}
.trademark {
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 0 !important;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
}

/* MERCHANT PAGE */
.feature-item p {
  margin-bottom: 0 !important;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.merchant-features {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cta-section {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 1rem;
}
.cta-section p {
  margin-bottom: 0 !important;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
}
.merchant1-text-content {
  width: 80%;
  height: 100%;
  margin: auto;
  align-items: center;
  padding-top: 10%;
}
.merchant2-section {
  max-width: 1440px;
  margin: auto;
}
.merchant2-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 30px 0;
}
.merchant2-image,
.merchant3-details, .merchant2-content {
  width: 50%;
}
.merch4 {
  padding-top: 4rem;
  padding-bottom: 1.5rem;
}
.merch1 {
  padding-bottom: 1.5rem;
}
.merchant2-details {
  padding: 40px 0 0 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.merchant2-features {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.merchant5-details {
  padding: 80px 0 0 60px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.merchant3-details {
  /* width: 100%; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.merchant8-details {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.merchant8-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 30px 0;
}
.merchant8-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.checkout-section {
  max-width: 1440px;
  margin: auto;
}
.checkout-container {
  text-align: center;
  width: 90%;
  margin: auto;
}
.checkout-container h1 {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  line-height: 51px;
  letter-spacing: 0em;
}
.checkout-funnel-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 50px 0;
  gap: 50px;
}
.checkout-item h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
}
.checkout-item {
  width: 225px;
}

.purple {
  background-image: url("images/merch10.svg");
  width: 100%;
  /* min-height: 486px; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  justify-content: space-around;
}
.purple-img{
  width: 50%;
}
.purple-text {
  width: 50%;
  padding-left: 7rem;
  padding-top: 8rem;
  box-sizing: border-box;
}
.p-img{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.purple-text h3 {
  max-width: 526px;
  padding-bottom: 1.5rem;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0em;
}
.purple-waitlist {
  width: 300px;
  height: 60px;
  border-radius: 38px;
  padding: 0 3px;
  border: 2px solid #ffffff;
  background: transparent;
  color: white;
}
